body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#44aaaa;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#44aaaa;
  }
  
  .container {
    border-radius: 5px;
    background-color:#dddddd;
    padding: 20px;
    margin-bottom: 20;
    width: 1050px;
    height:auto;
  }

title {
  float: right;
}
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  } 
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .h1 {
    border-style: solid;
    border-color: #44aaaa;
    margin: auto;
    background-color: #44aaaa;
    width: min-content;
  }
  
  .wrapper {
    min-height: 50%;
    width: 70%;
    padding: 70px;
  }

  .footer,
  .push {
    height: 50px;
    background-origin: padding-box;
    color: #44aaaa
  }
  
  .container {
    border-style: solid;
    color: #4aaaa5
}

p.blue {
    text-align: center; 
}

ul {
    list-style-type: lower-roman;
    padding: 0;
    margin: 0;
    overflow: auto;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #4aaaa5
}

.footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color:red;
    color: white;
    text-align: center;
}