body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    text-align: center;
  }

  div {
    background-color: white;
    text-align: left;
    margin-block-end: auto;
    padding-block-end: 5px;
  }
  .center {
    margin: 15px;
    margin-bottom: 15px;
    width: 60%;
    border: 2px solid #44aaaa;
    padding: 15px;
    }

    .text-allign {
      text-align: left;
    }
  

  .clearfix {
    overflow: auto;
  }

  h2 {
    text-align: center;
    float: left;
    padding: 5px;
    margin: 0;
    display: block;
    font-weight: bold;
  }


  .navbar {
    background-color: #4aaaa5;
    overflow: hidden;
  }

  .navbar a {
    float: right;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
  }
  .navbar a:hover {
    background-color: pink;
    color: black;
  }

  .navbar a.active {
    background-color: #4aaaa5;
    color: wheat; 
  }

  li {
    float: right;
    display: -moz-box;
    padding: 5px
  }

  header {
    background: #4aaaa5;
    padding: 0;
    margin: 0;
    border-bottom: #d9e0e0;
  }

header::after {
  content: "";
  display: table;
  clear: both;
}

  .container {
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    color: #4aaaa5;
    padding-top: 88px;
    margin-top: 50px;

  }
  
  input[type=text], select, textarea {
    width: 85%;
    padding: 15px;
    border: 3px solid #4aaaa5;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#44aaaa;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#44aaaa;
  }

title {
  float: right;
}
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  } 
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .header {
    background-color: #d9e0e0;
    border-bottom: 5px solid #44aaaa;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }


  .push {
    height: 50px;
    background-origin: padding-box;
    color: #44aaaa
  }

p.blue {
    text-align: center; 
}

ul {
    list-style-type: lower-roman;
    padding: 0;
    margin: 0;
    overflow: auto;
    float: left;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #4aaaa5
}

.footer {
    position: fixed;
    left: 0%;
    width: 100%;
    bottom: 0%;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}
span {
  color: #4aaaa5;
  display: inline;
}
.hangman {
  position: relative;
  margin: 0;
  padding: 5px;
  width: 33%;
}

.rpg {
  position: relative;
  margin: 0;
  padding: 5px;
  float: left;

}

.trivia {
  position: relative;
  margin: 0;
  padding: 5px;
  width: 33%;

}

.info {
  position: relative;
  margin: 0;
  padding: 5px;

}

.rock {
  position: relative;
  margin: 0;
  padding: 5px;

}
img {
  width: 150px;
  height: 200px;
}